.ipynb_checkpoints/2016-01-20-Cambiar_nombres-checkpoint.ipynb
.ipynb_checkpoints/2016-09-12 Iteraciones migra-muerte-checkpoint.ipynb
.ipynb_checkpoints/2016-09-12 Prueba-checkpoint.ipynb
.ipynb_checkpoints/Exp preliminar-checkpoint.ipynb